:root {
    --primary: #ff7a00;
    --primary-light: #ff9a3d;
    --secondary: #ffcd9e;
    --secondary-light: #ffe9d6;
    --red: #ff0000;
    --dark: #000000;
    --white: #ffffff;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  scroll-behavior: smooth;
  height:100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

button{
  border:none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
}

li{
  color: black;
}
.nav,.container{
  margin: auto;
  max-width: 1200px;
}

.btn {
    border-radius: 5px;
    padding: 14px 40px;
    background-color: var(--primary);
}

button:hover,
.btn:hover {
    cursor: pointer;
}

#header{
	background-color: var(--secondary-light);
  height: 100%;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart_flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.nav-link{
  color: var(--dark);
  font-size: 18px;
}

.nav-link:hover{
  color: var(--red);
}
.cart_img {
    max-width: 30px;
}

.nav-btn,.nav-btn:hover{
  width: 8%;
  color: var(--white);
  border-radius: 50em;
  max-height: 50px;
  justify-content: center;
}
.nav-btn span{
  font-size: 20px;
  margin-left: 5px;
}

.intro_flex > * {
    flex-basis: 50%;
}

.intro_title {
    font-size: 5vw;
    font-weight: bolder !important;
    color: var(--primary);
    padding-left: 80px;
}

.shop-now,.shop-now:hover{
    color: var(--white);
    font-weight: bold;
    width:25%;
    white-space: nowrap;
    justify-content: center;
}

.shop_now{
  justify-content: center;
  max-width: 100%;
}

.about{
  background-color: var(--dark);
  font-size: 22px;
  color: var(--white);
  text-align: center;
}
.about .container {
    max-width: 900px;
    padding: 60px 40px;
}

.heading{
  text-align: center;
  padding: 50px;
  font-weight: bolder;
}

.grid-container{
  display: grid;
  gird-gap: 35px;
  grid-template-columns: repeat(auto-fill, minmax(301px, 1fr));
  justify-content: space;
  justify-items: center;
  align-content: space;
  align-items: center;
  padding-bottom: 80px;
}

.product-box {
    position: relative;
}
.product-box:hover {
    cursor: pointer;
}
.product-box:hover .price-box {
    z-index: 1;
}

.product{
  max-width: 301px;
  width: 100%;
  height: 100%;
  padding-bottom:30px;
}
.price-box {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    max-width: 301px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    color: var(--white);
    font-size: 20px;
}
.price-title{
  justify-content: center; 
  padding-top: 50%;
  font-size: 22px;
}
.price-tag {
    font-size: 35px;
    font-weight: 500;
}
.product-name {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.btn-cart{
    width: 80%;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    margin: auto;
}


#footer{
  background-color: black;
  padding: 1rem 1rem;
  color: var(--white);
}

@media(max-width:876px){
  .container {
    max-width: 890px;
    margin: auto;
    padding: 0px 40px;
  }
  #header{
    height: 100%;
  }
}
@media(max-width: 596px){


  .container {
    max-width: 610px;
    margin: auto;
    padding: 0px 10px;
  }
  #header{
    height: 100%;
  }
  .flex {
    flex-direction: column;
  }

  .logo{
    display: none;
  }
  .intro-title{
    margin: auto;
  }
  .intro_title{
    font-size: 40px;
  }

  .shop-now,.shop-now:hover{
    color: var(--white);
    font-weight: bold;
    width:120px;
    white-space: nowrap;
    justify-content: center;
}
}