:root {
    --primary: #ff7a00;
    --primary-light: #ff9a3d;
    --secondary: #ffcd9e;
    --secondary-light: #ffe9d6;
    --red: #ff0000;
    --dark: #000000;
    --white: #ffffff;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  outline: none;
  border:none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
}

li{
  color: black;
}

.btn {
    padding: 8px 5px;
    border-radius: 5px;
    font-size: 18px;
}
.btn-primary {
    background-color: var(--primary);
}
.btn-primary-light {
    background-color: var(--primary-light);
}
button:hover,
.btn:hover {
    cursor: pointer;
}
.btn-secondary {
    background-color: var(--secondary);
    font-size: 20px;
}
.btn-secondary-light {
    background-color: var(--secondary-light);
}
.btn-light {
    padding: 10px 35px;
    border-radius: 5px;
    background-color: var(--secondary-light);
    font-size: 20px;
}
.btn-qty {
    padding: 2px 10px;
    border-radius: 8px;
    color: var(--white);
}
.btn-container {
    text-align: right;
}
.btn-container .btn {
    margin-top: 10px;
    font-size: 14px;
}
.btn-container .btn-primary {
    color: var(--white);
}

#header{
	min-height: 100vh;
	background-color: var(--secondary-light);
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.nav-link{
  color: var(--dark);
  font-size: 18px;
}

.nav-link:hover{
  color: var(--red);
}
.cart_img {
    width: 30px;
}

.nav-btn{
  width: 8%;
  color: var(--white);
  border-radius: 50em;
  padding:0 10px;
  background-color: var(--primary);
  padding: 10px 24px;
}
.nav-btn span{
  font-size: 20px;
  margin-left: 5px;
}

.intro_flex > * {
    flex-basis: 50%;
}
.intro-title{
  padding-left: 80px;
}
.intro_title {
    font-size: 5vw;
    font-weight: bolder;
    color: var(--primary);
}
.shop_now{
  text-align: center;
  margin-top: 20px;

}
.shop,.shop:hover{
    background-color: var(--primary);
    color: var(--white);
    width: 25%;
    font-weight: bold;
    border-radius: 5px;
    padding: 14px 40px;
}

.about{
  background-color: var(--dark);
  font-size: 22px;
  color: var(--white);
  text-align: center;
}
.about .container {
    max-width: 900px;
    padding: 60px 40px;
}



.title{
  text-align: center;
  padding: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(301px, 1fr));
  grid-gap: 1.875em;
}

img {
  width: 100%;
  height: auto;
}
.product{
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 393px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding-top: 49%;
  border-radius: 10px;
  opacity: 0;
  transition: opacity .5s;
}

.overlay a{
  text-decoration: underline;
  text-decoration-color: white;
  color: white;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay p{
  font-size: 2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
 .product:hover .overlay{
  opacity: 1;
 }
 @media (hover: none) { 
  .overlay {
    opacity: 1;
  }
}
#footer{
  background-color: black;
  padding: 1rem 1rem;
  line-height: 2rem;
}

.footer_menu{
  display: flex;
  color:white;
  justify-content: space-between;
}